body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img{
  max-width: 300px;
}

.img1{
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.img2{
  float: right;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
